html[data-bs-theme="dark"] .panel {
    background-color: var(--bs-dark);
}

html[data-bs-theme="dark"] .leaflet-tile-container > img {
	filter: brightness(0.8);
}

html[data-bs-theme="dark"] .leaflet-bar > a,
html[data-bs-theme="dark"] .leaflet-popup-content-wrapper,
html[data-bs-theme="dark"] .leaflet-popup-tip,
html[data-bs-theme="dark"] .leaflet-tooltip 
{
	background-color: var(--bs-dark);
	color: #fff !important;
}

html[data-bs-theme="dark"] .leaflet-tooltip-top::before {
	border-top-color: var(--bs-dark);
}

html[data-bs-theme="dark"] .leaflet-tooltip {
	border: none;
}

html[data-bs-theme="dark"] .leaflet-control-locate-location-arrow, 
html[data-bs-theme="dark"] .leaflet-control-locate-spinner {
	filter: invert(1);
}

html[data-bs-theme="dark"] .leaflet-container {
	background: var(--bs-dark);
}

.panel {
    z-index: 1100;
    background-color: #fff;
    max-width: 250px;
}

.panel-bottom {
    bottom: 0;
    left: 50%;
    max-height: 45%;
    overflow-y: auto;
    min-width: 390px;
    max-width: 500px;
    transform: translateX(-50%);
}

.vehicle-tram > svg {
    fill: var(--tram-color);
}

.vehicle-trolley > svg {
    fill: var(--trolley-color);
}

.vehicle-bus > svg {
    fill: var(--bus-color);
}

.vehicle-night > svg {
    fill: var(--night-bus-color);
}

.vehicle-inactive {
    opacity: 0.75;
}

.table-container {
    overflow-y: auto;
}

.svg_text {
    font-weight: 800; 
    font-family: sans-serif;
    fill: #fff;
    text-align: center;
    vertical-align: middle;
}

.svg_small {
    font-size: 14px;
}

.svg_large {
    font-size: 16px;
}

.leaflet-popup-content {
    margin: 10px 5px;
}

.vehicle-btn {
    min-width: 50px;
    margin: 2px;
    
}

.icon {
    width: 18px;
    height: 18px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: sub;
    display: inline-block;
}

.tram-icon {
    background-image: url('/src/images/tram.png');
}

.trolley-icon {
    background-image: url('/src/images/trolley.png');
}

.bus-icon {
    background-image: url('/src/images/bus.png');
}

.night-icon {
    background-image: url('/src/images/night.png');
}

.leaflet-div-icon {
	background: none;
	border: none;
}
